[workspace]
members = ["autokuma", "example", "kuma-cli", "kuma-client"]
resolver = "2"

[workspace.package]
version = "0.0.0"
edition = "2021"

[workspace.dependencies]
bollard = { version = "0.15.0" }
clap = { version = "4.4.14", features = ["derive"] }
config = { version = "0.14.0" }
const-str = { version = "0.5.6", features = ["proc"] }
cute_custom_default = { version = "2.1.0" }
derivative = { version = "2.2.0" }
dirs = { version = "5.0.1" }
futures-util = { version = "0.3.30" }
humantime-serde = { version = "1.1.1" }
itertools = { version = "0.12.0" }
log = { version = "0.4.20" }
pretty_env_logger = { version = "0.5.0" }
reqwest = { version = "0.11.23", features = ["json"] }
rust_socketio = { git = "https://github.com/1c3t3a/rust-socketio.git", rev = "9ccf67b", features = [
    "async",
] }
serde = { version = "1.0.194", features = ["derive"] }
serde_alias = { version = "0.0.2" }
serde_json = { version = "1.0.111" }
serde_merge = { version = "0.1.3" }
serde_repr = { version = "0.1.18" }
serde_with = { version = "3.4.0", features = ["time_0_3"] }
serde-inline-default = { version = "0.2.0" }
serde_yaml = { version = "0.9.30" }
shadow-rs = { version = "*" }
strum = { version = "0.26.1", features = ["derive"] }
thiserror = { version = "1.0.56" }
time = { version = "0.3.31", features = ["serde"] }
tokio = { version = "1.35.1", features = ["full"] }
toml = { version = "0.8.8" }
url = { version = "*", features = ["serde"] }
